.swiper {
    padding-bottom: 22px;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

.swiper-pagination-bullet-active {
    @apply bg-branding-500;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -5px;
}

.mainCarousel.swiper {
    width: 100vw;
    height: calc(100% + env(safe-area-inset-top) + var(--safe-margin));
    padding-bottom: 0;
}

.mainCarousel .swiper-wrapper {
    padding-top: 20px;
}

.mainCarousel .swiper-slide {
    width: calc(100% - 14px);
}
