.swiper {
    padding-bottom: 22px;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

.swiper-pagination-bullet-active {
    @apply bg-branding-500;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -5px;
}

.mainCarousel.swiper {
    width: 100vw;
    height: 100%;
    margin-top: calc(0 - env(safe-area-inset-top) - var(--safe-margin));
    padding-bottom: 0;
    padding-top: 0;
}

.mainCarousel .swiper-slide {
    padding-top: calc(env(safe-area-inset-top) + var(--safe-margin) + 20px);
    width: calc(100% - 14px);
}
