@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Nanum Myeongjo";
    font-weight: 400;
    src: url("/fonts/NanumMyeongjo.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Nanum Myeongjo";
    font-weight: 700;
    src: url("/fonts/NanumMyeongjoBold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Nanum Myeongjo";
    font-weight: 900;
    src: url("/fonts/NanumMyeongjoExtraBold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url("/fonts/PretendardVariable.woff2") format("woff2");
    font-display: swap;
}

:root {
  --safe-margin: 36px;
}

@layer base {
  body {
    margin-top: env(safe-area-inset-top);
    margin-bottom: env(safe-area-inset-bottom);
  }

  main > *:first-child {
    padding-top: calc(env(safe-area-inset-top) + var(--safe-margin));
  }
}

@layer components {
  /* 레이아웃 */
  .layout-full {
    @apply w-full px-[24px] flex flex-col justify-between;
    height: 85vh;
    padding-top: 58px;
  }

  /* 폰트 관련 */
  .font-n-R48 {
    @apply font-normal;
    font-size: 2.375rem;
    line-height: 50px;
    font-family: theme(fontFamily.nanum);
  }

  .font-n-R18 {
    @apply font-normal text-lg leading-8;
    font-family: theme(fontFamily.nanum);
  }

  .font-p-R48 {
    font-family: Pretendard, sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 49px;
    letter-spacing: -2.5px;
  }

  .font-p-M24 {
    font-family: Pretendard, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1.2000000476837158px;
  }

  .font-p-R24 {
    font-family: Pretendard, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.5px;

  }

  .font-p-M20 {
    font-family: Pretendard, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -1.25px;

  }

  .font-p-R18 {
    font-family: Pretendard, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -1.25px;
  }

  .font-p-R18-2 {
    font-family: Pretendard, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.25px;
  }

  .font-p-M16 {
    font-family: Pretendard, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.7058823704719543px;
  }

  .font-p-R16 {
    font-family: Pretendard, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.7058823704719543px;
  }

  .font-p-M14 {
    font-family: Pretendard, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.7058823704719543px;
  }

  .diary-text::placeholder {
    color: currentColor;
  }

  .diary-text + * {
    display: none;
  }

  .diary-text:focus + * {
    display: block;
  }
}

